.popup__input {
    margin-bottom: 20px;
    padding: 10px 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__input:last-child {
    margin-bottom: 0;
}