.popup__container {
    position: relative;
    max-width: 430px;
    padding: 36px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 10px;
}

@media screen and (max-width: 450px) {
    .popup__container {
        padding: 25px 22px;
    }
}