.profile__btn-add {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 50px;
    width: 150px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 2px;
    cursor: pointer;
    align-self: center;
    transition: .2s opacity linear;
}

.profile__btn-add:hover {
    opacity: .6;
}