.profile__job {
    margin: 6px 0 0;
    font-size: 18px;
    line-height: 1.22;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .profile__job {
        font-size: 14px;
        text-align: center;
    }
}